

body{
  height:100%;
  width: 100%;
  margin: 50px auto;
  text-align: center;
  background: linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.25)), url('http://www.brucemalone.com/img/news/thumb62.jpg'); 
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h1 {
  padding: 20px;
  background: rgba(204, 204, 204, 0.75);
}

select {
  padding: 10px;
}

#options {
  margin: 30px 0;
}

.final-price {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#final {
  margin: 20px 0;
  font-size: 50px;
  font-weight: bold;
  color: red;
  background: rgba(204, 204, 204, 0.75);
  width: 80%;
}

.final-price > div {
  padding: 20px;
  border: 1px solid black;
  font-weight: bold;
  background: rgba(204, 204, 204, 0.75);
}

h3 {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  color: red;
}

/* .main-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */


